# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Skyen\Skole-programmering\DAT108\obliger\Oblig 1 Leveringsversjon\DAT108-Oblig1\.idea/dataSources/
/dataSources.local.xml
